body {
	background-color: #2b2b2b;
	margin: 0 1% 0 1%;
    font-family: Georgia, serif;
}

a {
    text-decoration: none;
    color: #2b2b2b;
    border-bottom: 2px #00d2cb solid;
    border-bottom-style: dotted;
}

a:hover {
    background-color: #00d2cb;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
	font-family: Georgia, serif;
}

img {
    max-width: 100%;
    width: 100%;
    margin: .3em 0 .3em 0;
}


h1,h2,h3,h4,h5 {
    color: #00d2cb;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

article {
    padding-bottom: 1em;
    margin-top: 1.2em;
}

.btn {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 4px;
    padding: 0.5em 3.4em;
    font-size: 0.9em;
    font-style: italic;
    transition: .5s cubic-bezier(0.22, 0.61, 0.36, 1);
    background-color: #00d2bc;
    display: inline-flex;
    color: #FFF;
    font-family: Georgia, serif;
    max-width: 100%;
}

.btn:hover { 

    background-color: #0F756B;
}

/*clear anchor tag styles when in button*/
.btn a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    font-style: inherit;
    border: none;
}

.mobile-only {
	display: none;
}

.menu-btn {
    display: none;
    float: right;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 4px;
    padding: 0.2em 2em 0.2em 2em;
    font-size: 1em;
    font-style: italic;
    transition: .5s cubic-bezier(0.22, 0.61, 0.36, 1);
    background-color: #00d2bc;
    font-weight: 100;


}

.main-container {
    background-color: #FFF;
    padding: 1.4em 2% 1em 2%;
    width: 59%;
    display: inline-block;
    float: left;
    margin: 0 0 0 7%;
    min-height: 100vh;
}

.wide-sidebar {
    display: inline-block;
    width: 22%;
    float: right;
    padding: 1.4em 0 0 0;
}

.wide-sidebar h3 {
    /*color: white;*/
    font-weight: 300;
    letter-spacing: 0.03em;
}

.wide-sidebar ul {
    list-style-type: none;
    padding: 0;
    font-family: Georgia, sans-serif;
    font-size: 1.2em;
    line-height: 1.9em;
}

.wide-sidebar a {
    color: #797979;
    text-decoration: none;
    border: none;
}

.breadcrumbs {
    color: #2b2b2b;
    border-bottom: 4px #2b2b2b solid;
    display: inline-block;
}

.breadcrumbs a {
    color: #00d2cb;
    border: none;
    text-decoration: none;
}


.wide-sidebar a:hover {
    background-color: inherit;
    color: white;
}

.mobile-menu { 
    color: #FFF;
}

.secondclose {
    text-align: center;
    color: #A7A7A7;
    font-size: .8em;
}

ul.tags {
    margin: 0;
    color: #5d5d5d;
    font-size: 0.8em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.tags li::before {
    content: " ▪︎ ";
}

.project-article p {
    margin: 0;
}

.project-article img{
    padding-bottom: .8em;
}

.project-article a {
    display: block;
    border: none;
}

.project-article h2 {
    margin-bottom: 0.4em;
    text-decoration: none;
    color: #2b2b2b;
    border-bottom: 2px #00d2cb solid;
    border-bottom-style: dotted;
    display: inline;
}

.project-article li {
    display: inline;
}


@media only screen and (max-width: 768px) {

    .breadcrumbs {
        /*display: none; */
        margin-top: 0.7em;
    }

    .main-container{
        width: 100%;
        margin: 0;
        padding: 0; 
    }

    .mbl-cont{ 
        padding: 0 1em;
    }

    .mobile-menu{ 

    }

    .mobile-menu a{
        color: #FFF; 
    }

    .mobile-menu li { 
        color: #FFF;
    }

    .mobile-menu h1,
    .mobile-menu h2, 
    .mobile-menu h3{ 
        color: #FFF;
    } 

    .mobile-menu a {
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        font-style: inherit;
        border: none;
    }

    .menu-slide {
        max-height: 0;
        overflow: hidden;
    }

    .menu-slide.open {
        max-height: 1200px; 
    }

    .header-name{
        width: 50%; 
        display: inline-block;
    }

	.menu-btn{
		display: inline-flex;
		margin-right: 00px;
        margin-top: 1em;
	}

    .menu-btn.active {
        background: #4C4C4C;
    }

	.mobile-only {
		display: inherit;
        padding: 0.3em 1em;
	}

    .navlinks {
    text-align: center;
    font-size: 3.5em;
    line-height: 1.2em;
    border-bottom: 2px solid #FFF;
    padding-bottom: .2em;
    }

    .mobile-contact {
        font-size: 1.5em;
        line-height: 1.8em;
        color: #777777;
        margin-top: 0.65em;
    }

    .mobile-contact li {
        color: #777777;
    }

	.wide-sidebar{
		display: none;
	}

}

/*
@media only screen and (min-width: 1600px) {
    /*if very large screen, increase font size 
    body {
        font-size: 1.2em;
        line-height: 1.4em;
    }
}

*/